.countDown-container {
	background: url("https://fintech-club-website.s3.ap-southeast-2.amazonaws.com/join_us/countdown-bg.jpg")
		center bottom no-repeat;
	background-size: 100%;
	backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
	.countDown-container {
		background: url("https://fintech-club-website.s3.ap-southeast-2.amazonaws.com/join_us/countdown-bg.jpg")
			left top no-repeat;
		background-size: 500%;
	}
}
