@media screen and (min-aspect-ratio: 1) {
    .decor-object {
        position: absolute;
        z-index: 0;
        display: inline-block;
    }

    .projects-introduce {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 5vw;
    }

    .projects-introduce * {
        margin: 2vh 0;
    }

    .introduce-content-wrap {
        width: 60%;
        align-items: start;
    }

    .introduce-content-slogan {
        font-size: 0.8vw;
        line-height: 1.2vw;
        padding: 0.4vw 2vw;
        border-radius: 1vw;
    }

    .introduce-content-title {
        font-size: 3vw;
        line-height: 3.6vw;
    }

    .introduce-img-wrap {
        width: 40%;
    }

    .introduce-img-bg {
        width: 27vw;
        border-radius: 2vw;
        margin-left: 5vw;
    }

    .introduce-img-bg-logo {
        border-radius: 2vw;
    }

    .introduce-img {
        bottom: -2vh;
        left: -2vw;
    }

    .introduce-img-wrap::before {
        left: 0;
        bottom: -2vw;
        width: 4vw;
    }

    .introduce-img-wrap::after {
        right: 0;
        top: -1vw;
        width: 3vw;
    }

    .introduce-content-text {
        width: 80%;
    }

    .project-content-btn,
    .introduce-content-button {
        font-size: 1.1vw;
        padding: 0.4vw 3vw;
        border-radius: 4px;
    }

    .project-wrap {
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 5vw 0;
    }

    .project-wrap:last-child {
        width: 90%;
        margin: 0 auto 5vw auto;
        border-radius: 1vw;
    }

    .project-wrap:nth-child(odd) {
        flex-direction: row-reverse
    }

    .project-child-wrap {
        width: 50%;
        display: flex;
    }

    .project-wrap:nth-child(even) .project-child-wrap:last-child {
        padding-right: 5vw;
    }

    .project-wrap:nth-child(odd) .project-child-wrap:last-child {
        padding-left: 5vw;
    }

    .project-content-index {
        font-size: 2vw;
        line-height: 2vw;
        margin-bottom: 2vh;
    }

    .project-title {
        font-size: 3vw;
        letter-spacing: 0.2vw;
    }

    .project-title span {
        margin-left: 1vw;
    }

    .project-text {
        font-size: 1vw;
        line-height: 2vw;
        margin: 2vh 0;
    }
}

@media screen and (max-aspect-ratio: 1) {
    .decor-object {
        display: none;
    }

    .projects-introduce {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 5vw;
    }

    .projects-introduce * {
        margin: 2vh 0;
    }

    .introduce-content-wrap {
        width: 100%;
        align-items: center;
    }

    .introduce-content-slogan {
        font-size: 4vw;
        line-height: 8vw;
        padding: 0 7vw;
        border-radius: 4vw;
    }

    .introduce-content-title {
        text-align: center;
        font-size: 8vw;
        line-height: 9vw;
    }

    .introduce-img {
        bottom: -2vh;
        left: -5vw;
    }

    .introduce-img-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10vw 0;
    }

    .introduce-img-bg {
        width: 70vw;
        border-radius: 2vw;
    }

    .introduce-img-bg-logo {
        border-radius: 2vw;
    }

    .introduce-img-wrap::before {
        left: 0;
        bottom: -2vh;
        width: 8vw;
    }

    .introduce-img-wrap::after {
        right: 0;
        top: -1vh;
        width: 8vw;
    }

    .introduce-content-text {
        text-align: center;
        font-size: 4vw;
    }

    .project-content-btn,
    .introduce-content-button {
        font-size: 4vw;
        padding: 2.5vw 13vw;
        border-radius: 1.5vw;
    }

    .project-wrap {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 5vw 0;
    }

    .project-wrap:last-child {
        width: 90%;
        border-radius: 3vw;
        margin: 4vh auto;
    }

    .project-child-wrap {
        width: 100%;
        display: flex;
    }

    .project-child-wrap.content {
        justify-content: center;
        align-items: center;
    }

    .project-content-index {
        font-size: 4vw;
        margin-bottom: 2vh;
    }

    .project-title {
        font-size: 7vw;
        letter-spacing: 0.3vw;
    }

    .project-title span {
        margin-left: 2vw;
    }

    .project-text {
        width: 90%;
        text-align: center;
        font-size: 3vw;
        line-height: 5vw;
        margin: 2vh 0;
    }

    .project-child-wrap.image {
        margin: 5vh 0;
    }
}