:root {
    --gold: #DBB968;
    --deep-blue: #0D1742;
    --mid-deep-blue: #2B305E;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveDownUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(4vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-4vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes glowing {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(2);
    }

    100% {
        filter: brightness(1);
    }
}

/* Animations */

/* Introduce */
.project-wrapper * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.projects-introduce {
    position: relative;
    background-color: var(--deep-blue);
    overflow: hidden;
}

.project-introduce-decor-inner,
.project-introduce-decor {
    aspect-ratio: 1;
    border-radius: 50%;
}

.project-introduce-decor:nth-child(1) {
    left: -0.75vw;
    top: 70%;
    width: 1.5vw;
    background-color: var(--gold);
    animation: moveUpDown 6s infinite;
}

.project-introduce-decor:nth-child(2) {
    left: 8vh;
    bottom: 3vh;
    width: 5vw;
    background-color: var(--mid-deep-blue);
    animation: moveLeftRight 10s infinite;
}

.project-introduce-decor-inner {
    width: 1.5vw;
    left: 140%;
    top: 20%;
    background-color: var(--mid-deep-blue);
    border: 1px solid white;
    animation: moveDownUp 8s infinite;
}

.introduce-content-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    z-index: 10;
}

.introduce-content-slogan {
    background-color: #FFEFCA;
    color: var(--deep-blue);
}

.project-content-btn,
.introduce-content-button {
    background-color: var(--gold);
    font-weight: 600;
    color: white;
    transition: filter 0.2s;
}

.project-content-btn:hover,
.introduce-content-button:hover {
    filter: contrast(1.5);
}

.project-wrap:nth-child(odd) .project-content-btn {
    background-color: var(--deep-blue);
}


.introduce-img-wrap {
    position: relative;
}

.introduce-img-bg {
    aspect-ratio: 533/600;
    background-color: white;
    position: relative;
}

.introduce-img-bg-logo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.introduce-img-bg-logo img {
    transform: scale(1.4);
    user-select: none;
}

.introduce-img {
    position: absolute;
    width: 95%;
    height: 120%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}

.introduce-img-wrap::before,
.introduce-img-wrap::after {
    content: '';
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: glowing 3s infinite;
}

.introduce-img-wrap::before {
    aspect-ratio: 1;
    background-image: url(./IMG/project_introduce_decor_1.png);
}

.introduce-img-wrap::after {
    aspect-ratio: 1;
    background-image: url(./IMG/project_introduce_decor_2.png);
}

/* Introduce */

/* Child */
.project-wrap {
    position: relative;
    width: 100%;
    display: flex;
}

.project-decor {
    aspect-ratio: 1;
    border-radius: 50%;
}

.project-decor:nth-child(1) {
    right: -2.5vw;
    bottom: 20%;
    width: 5vw;
    background-color: var(--deep-blue);
    animation: moveUpDown 12s infinite;
}

.project-decor:nth-child(2) {
    right: 2vw;
    top: 50%;
    width: 1.5vw;
    background-color: var(--gold);
    animation: moveDownUp 6s infinite;
}

.project-decor:nth-child(3) {
    right: 3vw;
    bottom: 13%;
    width: 1.5vw;
    background-color: var(--deep-blue);
    animation: moveLeftRight 9s infinite;
}

.project-child-wrap.image {
    align-items: center;
    justify-content: center;
}

.project-child-wrap.content {
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-content-index {
    color: var(--gold);
    font-weight: 400;
}

.project-title {
    display: flex;
    align-items: center;
    color: var(--deep-blue);
    font-weight: 700;
    text-transform: uppercase;
}

.project-title span {
    color: var(--gold);
}

.project-text {
    color: #727272;
    text-align: justify;
}