.wrapper {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_img {
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: moveAndGlow 4s infinite;
}

@media screen and (min-aspect-ratio: 1) {
    .wrapper {
        padding: 3vh 1vh 1vh 1vh;
        border-radius: 1vw;
    }

    .form_img {
        width: 25vw;
        border-radius: 1vw;
        border: 0.2vw solid white;
    }

    .logo {
        width: 8vw;
        top: -1vw;
        right: -3vw;
    }

    @keyframes moveAndGlow {
        0% {
            filter: brightness(1.5);
            transform: translateX(0);
        }
    
        50% {
            filter: brightness(1);
            transform: translateX(1vw);
        }
    
        100% {
            filter: brightness(1.5);
            transform: translateX(0);
        }
    }
}

@media screen and (max-aspect-ratio: 1) {
    .wrapper {
        padding: 3vh 1vh 1vh 1vh;
        border-radius: 3vw;
    }

    .form_img {
        width: 70vw;
        border-radius: 4vw;
        border: 0.8vw solid white;
    }

    .logo {
        width: 20vw;
        top: -3vw;
        right: -9vw;
    }

    @keyframes moveAndGlow {
        0% {
            filter: brightness(1.5);
            transform: translateX(0);
        }
    
        50% {
            filter: brightness(1);
            transform: translateX(3vw);
        }
    
        100% {
            filter: brightness(1.5);
            transform: translateX(0);
        }
    }
}